.checkoutProduct__image {
  object-fit: contain;
  width: 100%;
  height: 180px;
  width: 180px;
}
.checkout__product {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.checkoutProduct__rating {
  display: flex;
  margin-top: 10px;
}

.checkout_button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutProduct__title {
  font-weight: 800;
  font-size: 17px;
  margin-bottom: 10px;
}
