.order {
  padding: 40px;
  background-color: white;
  margin: 20px 0px;
  border: 1px solid lightgray;
  position: relative;
}
.order > h2 {
  margin-top: -10px;
  margin-bottom: 4px;
}
.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}
.order_total {
  font-weight: 500;
  text-align: right;
}
